@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

.roundfont {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cursive {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
